<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>440349203885-m3d9gvh2v4h2huoh8lmaojr9ic2tl98d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.440349203885-m3d9gvh2v4h2huoh8lmaojr9ic2tl98d</string>
	<key>API_KEY</key>
	<string>AIzaSyAAWl8gNUROMy8yXki-z5JNhMGHg0GiABY</string>
	<key>GCM_SENDER_ID</key>
	<string>440349203885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.iamishansharma.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e1782</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e1782.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:440349203885:ios:dd9d1c76d468b95e54d524</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-e1782.firebaseio.com</string>
</dict>
</plist>